/*========================
      Mobile Version
=========================*/
:root {
  font-size: 14px;
}

#section-title {
  font-size: var(--size-18);
  line-height: var(--size-28);
  font-weight: 600;
}
#section-style {
  background: #fff;
  border-style: solid;
  border-color: #e6e7eb;
  border-radius: var(--size-16);
  padding: var(--size-12);
  justify-content: center;
  display: flex;
  flex-direction: column;
  row-gap: var(--size-12);
}
#section-headder {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
#section-headder span:last-child {
  font-size: var(--size-14);
  line-height: var(--size-20);
  font-weight: 600;
  color: #6a7282;
}
body {
  font-family: "IBM Plex Sans Arabic", sans-serif;
  font-size: 16px;
}
.body-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 100%;
}
.dash-sidebar {
  display: none;
}

.dash-body {
  width: 80%;
  padding: var(--size-32);
}
.logo {
  width: 56px;
  height: 56px;
  border-radius: 16px;
  display: flex;
  padding: var(--size-12);
  background-color: #165dfc;
}
.logo img {
  width: 100%;
}
.web-naming {
  display: flex;
  flex-direction: row;
  column-gap: 16px;
  align-content: baseline;
}
nav {
  padding-left: 0;
  text-align: center;
  display: flex;
  flex-direction: row;
}
.dash-sidebar li {
  font-size: var(--size-16);
  line-height: var(--size-24);
  font-weight: 600;
  margin: var(--size-24) 0px;
  display: block;
  padding: var(--size-12) var(--size-16);
  cursor: pointer;
}
nav {
  text-align: center;
}
nav i {
  font-size: var(--size-20);

  margin-left: var(--size-16);
  border-radius: 0.5rem;
}
nav li:hover {
  background-color: #c8c8c8;

  border-radius: 12px;
}

#nav-selected {
  color: #165dfc;
  background-color: #eef6ff;
  border-style: solid;
  border-color: #dbeafe;
  border-radius: 12px;
}

.dash-body {
  width: 100%;
  background-color: #f8f9fa;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas:
    "header"
    "info-cards"
    "new-activities"
    "l-transactions"
    "monthly-bill"
    "quick-view"
    "compare"
    "summary"
     "pay-methode";
  gap: var(--size-20);
}

.header {
  grid-area: header;
  display: flex;
  flex-direction: column;
  height: fit-content;
  margin: 0;
}
.header-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: baseline;
  padding: var(--size-12);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: var(--size-12);
}
.header-content .web-naming {
  display: flex;
  align-items: center;
}
.web-naming .conected {
  display: none;
}
.conected {
  padding: 0.5rem var(--size-12);
  border-radius: var(--size-12);
  font-size: var(--size-14);
  line-height: var(--size-20);
  font-weight: 500;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  margin-top: var(--size-12);
}
.conected i {
  font-size: var(--size-24);
}
.header-left .name-title {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.header-left div:first-child {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.header-left {
  display: flex;
  flex-direction: row;
  column-gap: 0.5rem;
  justify-content: space-between;
}
.header-left i {
  font-size: var(--size-16);
  padding: 0.5rem;
  border-style: solid;
  border-color: #e6e7eb;
  border-radius: var(--size-12);
  height: fit-content;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
#notified {
  position: relative;
}
#notified:after {
  content: "2";
  font-size: var(--size-10);
  position: absolute;
  top: -0.3rem;
  right: -0.3rem;
  background-color: red;
  padding: 0.3rem;
  border-radius: 1rem;
  color: #fff;
  width: 0.5rem;
  height: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-style: normal;
}
.account {
  background-color: #fff;
  padding: var(--size-10);
  flex-wrap: nowrap;
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: var(--size-10);
  border-radius: var(--size-12);
  cursor: pointer;
}
.account h3 {
  font-size: var(--size-14);
  line-height: var(--size-20);
  font-weight: 600;
}
.account p {
  font-size: var(--size-12);
  line-height: var(--size-16);
  font-weight: 600;
  color: #6a7282;
}

.acc-img {
  width: 40px;
  height: 40px;
  overflow: hidden;
  border-radius: var(--size-12);
}
.acc-img img {
  width: 100%;
}
/*info-cards*/
.info-cards {
  grid-area: info-cards;
  display: grid;
  gap: var(--size-20);
  flex-direction: column;
}
.info-card {
  padding: 5% 10%;
  background-color: #fff;
  border-radius: var(--size-12);
  border-style: solid;
  border-color: #e6e7eb;
  display: flex;
  flex-direction: column;
  row-gap: var(--size-12);
}
.info-card span {
  color: #0b0c0e;
  font-size: var(--size-14);
  line-height: var(--size-20);
  font-weight: 600;
}
.info-card h2 {
  color: #0b0c0e;
  font-size: var(--size-36);
  line-height: var(--size-40);
  font-weight: 700;
}
.info-card span:last-child {
  font-size: var(--size-14);
  line-height: var(--size-20);
  font-weight: 600;
  color: rgb(0, 189, 41);
}
#sp-red {
  color: red;
}
/*new activities*/
.new-activities {
  grid-area: new-activities;
  background: #fff;
  border-style: solid;
  border-color: #e6e7eb;
  border-radius: var(--size-16);
  padding: var(--size-12);
  justify-content: center;
  display: flex;
  flex-direction: column;
  row-gap: var(--size-12);
}
.card-body {
  display: flex;
  flex-direction: column;
  column-gap: var(--size-12);
  width: 100%;
}
.activity-card {
  display: flex;
  flex-direction: row;
  border-left-style: solid;
  border-radius: var(--size-16);
  border-left-width: 0.2rem;
  padding: var(--size-10);
  column-gap: var(--size-10);
}
.new-activities hr {
  color: #b36767;
}
.icon-circle {
  border-radius: var(--size-16);
  height: fit-content;
  padding: 0.3rem;
}
.card-blue {
  background-color: #eef6ff;
  border-left-color: #165dfc;
}
.card-green {
  background-color: #eef6ff;
  border-left-color: #00a63d;
}
.card-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
#tag-blue {
  color: #165dfc;
}
#tag-green {
  color: #00a63d;
}
.view-all {
  margin: auto;
  text-align: center;
  color: #165dfc;
}
/*new activities fonts*/
.card-header span:first-child {
  font-size: var(--size-18);
  line-height: var(--size-28);
  font-weight: 600;
}
.card-header span:last-child {
  font-size: var(--size-12);
  line-height: var(--size-16);
  font-weight: 500;
}
.card-desc {
  font-size: var(--size-12);
  line-height: var(--size-16);
  font-weight: 600;
}
.card-time {
  font-size: var(--size-12);
  line-height: var(--size-16);
  font-weight: 600;
  color: #6a7282;
  margin-top: var(--size-16);
}
/*=============
Monthly bills
==================*/
.monthly-bill {
  grid-area: monthly-bill;
}
.montly-bill-val {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
.montly-bill-val h3 {
  font-size: var(--size-32);
  line-height: var(--size-36);
  font-weight: 700;
}
.montly-bill-val span {
  font-size: var(--size-14);
  line-height: var(--size-20);
  font-weight: 600;
  color: #6a7282;
}
.monthly-bill-cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  column-gap: var(--size-12);
  row-gap: var(--size-12);
}
.monthly-bill-card {
  width: fit-content;
  height: fit-content;
  background-color: #f9fafb;
  border-radius: var(--size-16);
  text-align: center;
  padding: var(--size-32);
  row-gap: var(--size-24);
}
.m-bill-icon {
  font-size: var(--size-16);
  padding: 0.5rem 0.8rem;
  border-radius: var(--size-10);
}
.monthly-bill-card h4 {
  margin-top: var(--size-16);
  font-size: var(--size-12);
  line-height: var(--size-16);
  font-weight: 600;
  color: #6a7282;
}
.monthly-bill-card h3 {
  font-size: var(--size-16);
  line-height: var(--size-24);
  font-weight: 600;
}
.monthly-bill-card p {
  font-size: var(--size-12);
  line-height: var(--size-16);
  font-weight: 600;
}
/*==========
    quick view
================*/
.quick-view {
  grid-area: quick-view;
}
.quick-cards {
  display: flex;
  flex-direction: column;
  row-gap: var(--size-12);
}
#main-quick-card {
  background-color: var(--light-blue);
  padding: var(--size-12);
  border-radius: var(--size-12);
  display: flex;
  flex-direction: column;
  row-gap: var(--size-12);
}
#main-quick-card .q-card-head-right span {
  color: var(--strong-blue);
  font-size: var(--size-14);
  line-height: var(--size-20);
  font-weight: 600;
}
#main-quick-card .q-card-head-right h2 {
  color: #1c398e;
  font-size: var(--size-24);
  line-height: var(--size-32);
  font-weight: 600;
}
#main-quick-card .q-card-head-left span {
  color: #6a7282;
  font-size: var(--size-14);
  line-height: var(--size-20);
  font-weight: 600;
}
#main-quick-card .q-card-head-left h2 {
  color: var(--strong-green);
  font-size: var(--size-18);
  line-height: var(--size-28);
  font-weight: 600;
}
#main-quick-card .q-card-head {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
#main-quick-card .q-statistics-txt {
  display: flex;
  justify-content: space-between;
}

#main-quick-card .q-statistics-full {
  content: "";
  width: 100%;
  background-color: #e6e7eb;
  height: 0.5rem;
  border-radius: var(--size-10);
}

#main-quick-card .q-statistics-percent {
  content: "";
  width: 82.5%;
  background-color: #5a65ff;
  height: 0.5rem;
  border-radius: var(--size-10);
}
.quick-card {
  padding: var(--size-12);
  border-radius: var(--size-12);
  transition: all 0.3s ease;
  margin-top: var(--size-12);
  background-color: #f6f6f6;

  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.quick-card:hover {
  background-color: #f6f6f8;
  box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.2);
}
.q-card-head {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.q-card-right {
  display: flex;
  flex-direction: row;
  column-gap: var(--size-10);
  align-items: center;
}
.q-card-right h3 {
  font-size: var(--size-16);
  line-height: var(--size-24);
  font-weight: 600;
}
.q-card-right span {
  font-size: var(--size-12);
  line-height: var(--size-16);
  font-weight: 600;
  color: #6a7282;
}
.q-card-right i {
  padding: var(--size-10);
  border-radius: var(--size-10);
}
.q-card-head-left h3 {
  font-size: var(--size-16);
  line-height: var(--size-24);
  font-weight: 600;
}
.q-card-head-left span {
  font-size: var(--size-12);
  line-height: var(--size-16);
  font-weight: 500;
  border-radius: var(--size-12);
  padding: 0.2rem;
}
.q-line {
  content: "";
  background-color: #e6e7eb;
  height: 0.5rem;
  border-radius: var(--size-10);
}
#entertainment-line {
  width: 50%;
  background-color: var(--strong-orange);
}
#bills-line {
  width: 100%;
  background-color: var(--strong-red);
}
#self-care-line {
  width: 80%;
  background-color: var(--strong-red);
}
#home-supplies-line {
  width: 86%;
  background-color: var(--strong-green);
}

/*=============
    last-transactions
==================*/
.last-transactions {
  grid-area: l-transactions;
  justify-content: flex-start;
  overflow-x: auto;
}
table {
  min-width: 500px; 
  text-align: right;
  border-collapse: collapse;
  font-size: var(--size-14);
  line-height: var(--size-20);
  font-weight: 600;
  border-collapse: collapse;
}

.transaction {
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: var(--size-10);
  width: 100%;
  border-collapse: collapse;
}

.transaction .img {
  width: var(--size-40);
  height: var(--size-40);
  border-radius: var(--size-32);
  overflow: hidden;
}
.transaction .icon {
  font-size: var(--size-12);
  padding: 5%;
  border-radius: var(--size-40);
}
.transaction .img img {
  width: 100%;
  height: 100%;
  font-size: var(--size-18);
}
.transaction .txt h4 {
  font-size: var(--size-14);
  line-height: var(--size-20);
  font-weight: 600;
}
.transaction .txt span {
  font-size: var(--size-12);
  line-height: var(--size-16);
  font-weight: 600;
  color: #6a7282;
}

tbody tr td {
  padding: var(--size-10) var(--size-12);
  vertical-align: middle;
}

thead tr th {
  border-bottom: 2px solid #e6e7eb;
  padding-bottom: var(--size-12);
}
table thead tr {
  font-size: var(--size-14);
  line-height: var(--size-20);
  font-weight: 600;
  color: #364153;
}
table tbody td {
  padding: var(--size-12) 0;
  margin-top: var(--size-16);
}

/*Compare*/
.c-key {
  display: flex;
  flex-wrap: nowrap;
  margin: auto;
  column-gap: var(--size-10);
}
.c-key span {
  font-size: var(--size-12);
  font-weight: 600;
  line-height: var(--size-18);
  color: #64748b;
}
.chart-part {
  margin: auto;
  display: flex;
  flex-direction: row;
  column-gap: var(--size-24);
}
.chart-frame {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: var(--size-12) 0;
}
.chart-frame span {
  font-size: var(--size-12);
  line-height: var(--size-16);
  font-weight: 600;
  color: #64748b;
}
.chart {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  column-gap: 0.5rem;
}
.long-bar {
  content: "";
  width: 1rem;
  height: 10rem;
  background-color: #59c79a;

  border-top-left-radius: 0.2rem;
  border-top-right-radius: 0.2rem;
}

.short-bar {
  content: "";
  width: 1rem;
  height: 6rem;
  background-color: #ef4444;
  border-top-left-radius: 0.2rem;
  border-top-right-radius: 0.2rem;
}
/*=============================
      summary
==============================*/
.summary {
  grid-area: summary;
}
/*-=============================
      pay-methodes
==============================*/
.pay-methode {
  grid-area: pay-methode;

}
.pay-methode .logo {
  width: 56px;
  height: 56px;
  border-radius: 16px;
  display: flex;
  background-color: transparent;
}

.debit-card {
  width: 100%;
  height: 30%;
  border-radius: var(--size-24);
  padding: var(--size-12);
  display: flex;
  flex-direction: column;
  align-content: center;
  row-gap: var(--size-16);
}

.debit-card-head {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.parent {
  background-color: rgba(245, 245, 245, 0.2);
  width: 4rem;
  height: 3rem;
  content: "";
  border-radius: var(--size-10);
  display: flex;
  align-items: center;
  justify-content: center;
}
.parent div {
  background-color: rgba(245, 245, 245, 0.7);
  width: 3rem;
  height: 2rem;
  content: "";
  border-radius: var(--size-10);
}
#visa-logo {
  color: #3729ab;
}
#visa-card {
  background-color: #3729ab;
  position: relative;
}
#visa-card::after {
  content: "الااساسية";
  color: #fff;
  backdrop-filter: blur(14px);
  background: rgba(255, 255, 255, 0.15);
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 18px;
  width: fit-content;
  font-size: var(--size-12);
  line-height: var(--size-16);
  font-weight: 400;
  padding: 1%;
  position: absolute;
  top: 10%;
  left: 5%;
}
#master-card {
  background-color: var(--strong-red);
  position: relative;
}
#paypal {
  background-color: var(--strong-blue);
  position: relative;
}
#paypal img {
  width: 100%;
  height: 50%;
}
.card-no {
  font-size: var(--size-28);
  line-height: var(--size-24);
  font-weight: 600;
  color: #ffff;
}
.card-footer {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
}
.card-footer {
  color: #fff;
}
.side {
  display: flex;
  flex-direction: column;
}
